.App {
  text-align: center;
  margin: 0 5rem;
}

.set{
  display: flex;
  justify-content: space-around;
  padding: 3rem 4rem;
}

.input{
  font-size: 20px;
  width: 150px;
}

.btn{
  font-size: 20px;
  width: 150px;
  background-color: cornflowerblue;
  border-color: azure;
  border-radius: 20px;
}

.timer{
  font-size: 200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.operation{
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 8rem;
}

.timeup{
  font-size: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(234, 0, 0);
  margin: 0 
}

